.area_article {
  padding: 30px;
  .image {
    height: 200px;
  }
  .text {
    .date {
    }
    .title {
    }
    .description {

    }
  }
}

.btn {
  color: pink;
  background: #000;
  padding: 10px;
  &:hover {
    background: aqua;
  }
}

